<h1>All The Players Champing The Bit To Solve</h1>

<br>
<% @players.each do |p| %>
 <ol>
 <li> <p> <a href="/players/gameroom/<%= p.id %>"><strong><%= p.username %></strong></a></li>
    </p></ol>
<% end %>