<div class="container">
<h2>Welcome <%= @player.username %>, to Nevertheless! </h2>
<h4> Here, you'll be able to either join a team - or create your own!<br><br>
Once you have a team, you can upload your own puzzle,<br>
and download and solve other puzzles from other Hunters!
<p><br><br>
What would you like to do?
<form method="GET" action="/team_create">
<input type="submit" value=" CREATE A TEAM ">
<br><br>
<form method="GET" action="/team_join">
<input type="submit" value=" JOIN EXISTING TEAM ">
</h4>

