<div class="container">
<h2>Welcome <%= @player.username %>, to Baffle! </h2><p>

<h4> 
What would you like to do?
<form method="GET" action="/team_create">
<input type="submit" value=" CREATE A TEAM ">
<br><br>
<form method="GET" action="/team_join">
<input type="submit" value=" JOIN EXISTING TEAM ">
</h4>

