<h2> Welcome! 
<br>Create a new account: </h2>
<form method="POST" action="/signup">
username: <input type="text" name="username"><br>
   email: <input type="email" name="email"><br>
password: <input type="password" name="password"><br>
<input type="submit" value="Join The Hunt!">
</form>