
<h2> ))<>((  b.a.f.f.le! ))<>((<br>
Puzzle Submissions and Solves</h2>


<h4>Sign up to play puzzles - or to submit one of your own!<br><br>


<form action="/signup" method="GET">
    <input type="submit" value=" SIGN UP HERE ">
</form>
<br><br>


<h4>Back to help your Team?<br>Sign in below!</h4>
<br>
<% if flash[:error] %>
<h1><%= flash[:error] %></h1>
<% end %>
<br><form method="POST" action='/login'>
username: <input type="text" name="username"><br>
password: <input type="password" name="password"><br><br>
<input type="submit" value="Let's Get Puzzling!">
</form>