<title> Nevertheless, We Welcome You </title>
<h2>Nevertheless!<br>
A Team-Up Puzzle Hunt</h2>

<!-- Team Display with current Scores -->

<h4>Back to help your team?<br>Sign in below!</h4>
<form method="post" action='/signin'>
username: <input type="text" name="username"><br>
password: <input type="password" name="password"><br>
<input type="submit" value="Let's Get Puzzling!">
</form>


<h4>Joining for the first time?<br>
Create a new account: </h4>
<form method="post" action="/signup">
username: <input type="text" name="username"><br>
   email: <input type="email" name="email"><br>
password: <input type="password" name="password"><br>
<input type="submit" value="Join The Hunt!">
<p>
</form>