<style>
.center {
  text-align: center;
}
</style>
<div class="center">
<h2> ))<>((  b.a.f.f.le ))<>((<br>
Puzzle Submissions and Solves</h2>
</div>

<% if flash[:login] %>
<h2><strong><%= flash[:login] %></strong></h2>
<% end %>
<style>.column {
  float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}   </style>

<div class="row">
  <div class="column">
  <div class="left">
<% if flash[:log] %>
<h4><em><%= flash[:log] %></em></h4>
<% end %>

<h4>Sign up here to play puzzles -</br> or to submit one of your own!<br>
<p></p><form action="/signup" method="GET">
    <input type="submit" value=" SIGN UP HERE! ">
</form></div></div>


 <div class="column">
<h4>Back to help your Team?<br>Sign in below!</h4>
<% if flash[:error] %>
<h4><em><%= flash[:error] %></em></h4>
<% end %>
<form method="POST" action='/login'>
username: <input type="text" name="username"><br>
password: <input type="password" name="password"><br><br>
<input type="submit" value="Let's Get Puzzling!">
</form></div>
</div>