<h2>Nevertheless!<br>
A Team-Up Puzzle Hunt</h2>

<!-- Team Display with current Scores -->

<h4>Back to help your team?<br>Sign in below!</h4>



<h4>Joining for the first time?<br>
Create a new account: </h4>
<form method="post" action="">
