<h2>Welcome ! </h2>
<%# <%= @player.username %>

<%# #create team
<form method="post" action="/create_team">
Team Name: <input type="text" name="name"><br>
You sure?...Ok then...<br>
<input type="submit" value="Create My Team"
</form> %>
