<h1>All The Puzzles That're Fit To Solve</h1>

<br>
<% @puzzles.each do |p| %>
    <p>puzzle #<%= p.id %>) <strong><%= p.title %></strong> 
        <% if current_player == p.created_by %>
            <a href="/puzzles/<%= p.id %>/edit">Edit</a> 
        <% end %>
    </p>
<% end %>