index page - gameroom?

<% @puzzles.each do |p| %>
    <p>Puzzle #<%= p.id %>) <strong><%= p.title %></strong> 
        <% if current_user == p.author %>
            <a href="/puzzles/<%= p.id %>/edit">Edit</a> 
        <% end %>
    </p>
<% end %>