
<h2> YOUR NEW PUZZLE </h2>
<h4> <%= @current_player.username %>, IT'S ALIVE! <br>
Here's the info on your new puzzle. 
Others will be able to see this puzzle, download it and solve it!
<p><br><br>
<br>CONGRATS! It's A Puzzle!: </h2>
<h3>
Puzzle Title: <input type="text" name="title"><br>
Puzzle Description: <input type="textarea" rows="4" cols="40" name="description"><br>
Puzzle Category: <input type="text" name="category"><br>
Puzzle Solution: <input type="text" name="solution"><br>
Upload Option:  ((coming soon!))</h3>
<input type="submit" value=" SUBMIT MY PUZZLE ">
</form>